
body {
  color: #000;
  background-color: #fff;
}

a {
  color: #0000EE;
}

a:visited {
  color: #551A8B;
}

.text-gray-500,
.text-gray-600 {
  color: #000 !important;
}

.bg-primary .text-white,
.bg-primary-dark .text-white {
  color: #000 !important;
  background-color: #fff !important;
}

.btn-primary {
  background-color: #000 !important;
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #333 !important;
}
